body{
    background-color:orange;
    /* overflow: scroll; */
}
#head{
  color: aliceblue;
  position: relative;
  margin-left: 15%;  
  margin-top: -10%;

}
#calculator{
    background-color: rgba(0, 0, 0, 0.895);
    border: 2px solid red;
    width: 20vw;
    /* height: 90vh; */
    /* align-items: center; */
    margin-left: 20%;
    /* box-shadow: 0px 0px 10px 2px  #796758; */
    border-radius: 10px;
}
#displaybox{
    border: 2px solid yellow;
    width: 15vw;
    font-size: larger;
    height: 20vh;
    margin: 13%;
    /* margin-bottom: 30px; */
    /* margin-top: 5%;   */
    /* position: relative; */
    background-color: black;
    text-align:end;
    outline: none;
    color: white;
}
#display{
    color: white;
    position: absolute;
    margin-left:10% ;
    top: 10%;
}
#btn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}
#btt{
    font-size: larger;
    color: white;
    background-color: black;
margin-bottom: 2em;
width: 2vw;
box-shadow: 2px,2px,1px,2px;
    
}
#bt{
    text-align: center;
    color: rgb(255, 101, 5);
    background-color: black;
    margin-bottom: 2em;
    box-shadow: 2px,2px,2px,2px;
}
#bttt{
    font-size: larger;
    color: rgb(246, 246, 246);
    width: 5.8vw;
    border-radius: 8px;
    background-color: rgb(255, 69, 2);
margin-bottom: 2em;
box-shadow: 2px,2px,2px,2px;
}


@media screen  and (min-width:300px){
    body{
        background-color:red;
        display: flex;
        justify-content: center;
    }
    #calculator{
        width: 70%;
        /* position: relative; */
        margin: 10%;
    }
    #displaybox{
        width: 49vw;
        /* position: relative; */
        align-items: center ;

    }
    #btt{
        width: auto;
    }
    #bttt{
        width: 20vw;
    }
    #bt{
        height: 4vh;
    }
}
@media screen and (min-width:800px) {
    #calculator{
        width: 35%;
        align-items: center;
        /* position:absolute; */
        margin-top: 10%;
    }
     #displaybox{
        width: 25.5vw;
        /* position: relative; */
        align-items: center ;

    }
    #display{
        position: absolute;
    margin-left:15% ;
    top: 8%;
    }
    #btt{
        width: 3vw;
    }
    #bttt{
       width: 8.5vw;    
    }
    button{
        width: 3vw;
        font-size: 1.4em;
    }
    
}
